.blog {
    margin-top: 2rem;
    min-height: 75vh;
}

.post-preview {
    margin: 1rem;
}

.post-link {
    text-decoration: none;
}

.post-link .card {
    border-radius: 1rem;
    color: black;
}

.post-link:hover .card {
    box-shadow: 5px 5px 10px grey;
}

.post-link:hover h2 {
    text-decoration: underline;
}