.blog-post {
    flex: 1;
    padding: 0.5rem;
    background-color: hsl(225, 0%, 90%);
    color: black;
    min-height: 75vh;
}

.blog-post * {
    margin: 0;
}

.blog-post p:first-of-type::first-letter {
    font-size: 1.5rem;
}

.blog-post h1 {
    color: var(--dark-header-bg);
}

.blog-info {
    margin: 1rem 5vw;
    border-left: 0.5vw solid var(--dark-bg);
    padding-left: 1vw;
}