.content-container {
    display: flex;
}

.content-container div {
    flex: 1;
    margin: 2.5px;
}

.content {
    color: black;
    background-color: hsl(225, 0%, 90%);
    border: 1px solid black;
    width: 100%;
    overflow-y: hidden;
    min-height: 10rem;
    height: 15rem;
    padding: 5px;
}

textarea.content {
    background-color: white;
}

.preview li {
    margin-left: 20px;
}