.projects {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.project {
    margin: 0.5rem;
}

.project img {
    width: 100%;
}


.project-link {
    text-decoration: none;
}

.project-link:hover .card {
    box-shadow: 5px 5px 10px grey;
}

.project-link:hover h2 {
    text-decoration: underline;
}

.project-link .card {
    width: 30vw;
    height: 50vw;
}