.projects {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.project {
    margin: 0.5rem;
    color: black;
}

.project h2 {
    color: var(--dark-bg);
}

.project img {
    width: 100%;
}


.project-link {
    text-decoration: none;
    margin: 1rem auto;
}

.project-link:hover .card {
    box-shadow: 5px 5px 10px grey;
}

.project-link:hover h2 {
    text-decoration: underline;
}

.project-link .card {
    width: 300px;
}

@media screen and (min-width: 400px) {
    .project-link .card {
        aspect-ratio: 3/5;
    }
}